
<div>
  <p style="color:red;font-size:larger;text-align:center;background-color:blue">
    annonces works!
  </p>
  <form action="#" style="">
    <div class="ann-item">
      <label for="email" float="start">Email</label>
      <input type="text">
    </div>
    <div class="ann-item">
      <label for="email">Email</label>
      <input type="text">
    </div>
    <div class="ann-item">
      <label for="email">Email</label>
      <input type="text">
    </div>
    <div class="ann-item">
      <label for="email">Email</label>
      <input type="text">
    </div>
   

  </form>
</div>

