ion-content{
    --background-color:aquamarine ;
}
ion-title, ion-back-button{
    color: rgb(240, 240, 240);
}
form{
    width:80%;
    padding-top: 20%;
    margin: auto;
    --background-color: rgb(231, 130, 7);
}
ion-item{
    // background-color:blue;
}
ion-input{
    color: rgb(4, 73, 39)
}